@charset "utf-8";

.login {
  width: 100%;
  margin: 0 auto;

  &__form {
    margin: 25px 0;

    &--label {
      color: #555555;
    }
  }

  &__button {
    background-color: #242f9b;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
}

.input {
  width: 60%;
  font-size: large;
  margin-bottom: 25px;
}

.error-message {
  background-color: #f3d18a;
  color: #ff3333;
}
